body,
html {
    margin: 0;
    /* Elimina márgenes predeterminados */
    padding: 0;
    /* Elimina cualquier relleno */
    width: 100%;
    /* Asegura que ocupen el ancho completo */
    height: 100%;
    /* Asegura que ocupen toda la altura */
    overflow-x: hidden;
    /* Evita desplazamientos horizontales no deseados */
}


body {
    font-family: Arial, sans-serif;
    background-image: url('img/dalli.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    
}

h3{
    background-color: #f9f9f9;
    width: 200px;
    height: 50px;
    position: relative;
    justify-content: space-around;
}
/* Table */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

img {
    max-width: 80px;
    height: auto;
}

@media (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
        
    }

    th {
        text-align: center;
        display: none;
    }
}

/* boton */
.d-flex button {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .d-flex {
        flex-direction: column;
        align-items: stretch;
    }

    .d-flex button {
        width: 100%;
    }
}
