/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}*/

.div-contacto {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    padding: 15rem;
    background-color: #3F51B5;

}

.section-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #ffffff7b;
    border-radius: 8px;
    justify-content: space-around;
}

.info-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: center;
}


.info-item i {
    margin-right: 10px;
    color: #090909;
}

.info-item iframe {
    justify-content: center;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #ffffff7b;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0606066f;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgba(240, 248, 255, 0.684);
}

button {
    padding: 10px 15px;
    background-color: rgb(46, 46, 178);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

label {
    font-weight: 700;
}

button:hover {
    background-color: rgb(46, 46, 178);
}

@media (min-width: 360px) and (max-width: 800px) {
    .div-contacto {
        padding: 0rem;
        flex-direction: column-reverse;
    }
}