
/* Estilos generales para centrar el contenido */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;


}

/* Estilos para el h1 */
h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}

/* Estilos para el párrafo */
.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    color: #040404;
    line-height: 1.8;
    text-align: justify;
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffffa2;
    
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    
    max-width: 800px;
    /* Limitar el ancho para mejor legibilidad */
    box-shadow: 10px 10px 37px 37px rgba(56, 49, 49, 0.8) inset;
    -webkit-box-shadow: 10px 10px 37px 37px rgba(56, 49, 49, 0.8) inset;
    -moz-box-shadow: 10px 10px 37px 37px rgba(56, 49, 49, 0.8) inset;}

    /* Media query para pantallas pequeñas */
    @media (max-width: 768px) {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
            padding: 15px;
            max-width: 90%;
            /* Ancho adaptable a pantallas pequeñas */
        }
        main{
            background-position: center;
            background-repeat: no-repeat;
            box-sizing: border-box;

            object-fit: cover; 
        }
    }